:root{
    --vermelho:#E50914;
    --laranja:#ff7300;
    --preto: #212122;
}
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/
body{
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}


header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


header .logo{
   
    color: var(--laranja);
    font-family: cursive;
    font-size: 27px;
    margin-top: 5px;
    margin-bottom: 5px;
}

header nav a{
    text-decoration: none;
    color:rgb(255, 246, 246);
    margin-right: 10px;
    transition: .3s ease all;
    font-family: 'Arial';
    font-size: 15px;
}

header nav a:hover{
    color:rgb(145, 145, 145);
}


/*filme principal*/
.filme-principal{
    font-size: 15px;
    background: linear-gradient(rgba(0,0,0,.50),rgb(34, 34, 36)100%), url('/img/capa-padrinhos.jpg');
    height:420px;
    background-size:cover; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
} 

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
    font-family: 'Arial';
}

.filme-principal .título{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgb(255, 255, 255);
    border:none;
    color:rgb(0, 0, 0);

    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;

    border-radius: 6px;
}

.botao:hover{
    background-color: rgb(187, 187, 187);
    color: black;
}

.botao3{
    background-color: rgb(255, 255, 255);
    border:none;
    color:rgb(0, 0, 0);
    margin-top: 10px;
    margin-left: 30px;
    padding:15px 30px;
    
    font-size: 12px;

    cursor: pointer;
    

    border-radius: 6px;
}

.botao3:hover{
    background-color: rgb(187, 187, 187);
    color: black;
    transition: .3s ease all;
}

.botao3 i{
    margin-right: 8px;
    font-size: large;
}

.botao2{
    background-color: rgba(83, 83, 83, 0.788);
    border:none;
    color:white;

    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;

    border-radius: 6px;
}

.botao2:hover{
    background-color: rgba(83, 83, 83, 0.432);
    color: rgb(255, 255, 255);
}

.botao i{
    margin-right: 8px;
    font-size: large;
}
.botao2 i{
    margin-right: 8px;
    font-size: large;
}

.container{
    margin-left: 30px;
}

.divisao{
    font-size: 18px;
    font-family: 'Arial';
    margin-left: 28px;
}

.filme-principal .container{
    width: 60%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}


.carrosel-filmes{
    margin-top: 5px;
    border-color: black;
}


    



/* Popup container */
.popup {
    position: absolute;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 800px;
    height: 500px;
    background: linear-gradient(rgba(85, 85, 85, 0.5),rgb(34, 34, 36)100%), url('/img/capa2padrinhos.jpg');
    background-size: cover; 
    color: #fff;
    text-align: left;
    border-radius: 3px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -50px;
    margin-top: -420px;
    font-size: 30px;
  }
  
  .popup .popuptext h3{
      font-size: 20px;
      margin-left: 30px;
      color: #09e509;
      margin-bottom: 20px;
      font-family: Arial, Helvetica, sans-serif;
  }
  .popup .popuptext h4{
      font-size: 20px;
      margin-left: 30px;
      margin-top: 5px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: left;
      color: #dbdbdb;
  }
  .popup .popuptext h1{
      color: #00000000;
      font-size: 50px;
  }
  .popup .popuptext li{
      font-size: 15px;
      margin-left: 30px;
      
      margin-bottom: 10px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      list-style: none;
      color: #dbdbdb;
  }

  /*close*/
  .popup .popuptext .fa-circle-xmark{
    font-size: 30px;
    margin-left: 750px;
    
    
}

.popup .popuptext .fa-circle-xmark:hover{
    color: rgba(138, 138, 138, 0.856);
    transition: .3s ease all;

}

  /*like e deslike*/
  .popup .popuptext .fa-thumbs-up{
      font-size: 30px;
      margin-left: 30px;
  }
  .popup .popuptext .fa-thumbs-up:hover{
    color: rgba(59, 128, 255, 0.856);
    transition: .3s ease all;

  }

  
  .popup .popuptext .fa-thumbs-down{
      font-size: 30px;
      margin-left: 7px;
     
  }
  .popup .popuptext .fa-thumbs-down:hover{
    color: rgba(255, 83, 83, 0.856);
    transition: .3s ease all;

     
  }

  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 40%;
    right: 100%;
    margin-left: -6px;
    border-width: 5px;
    border-style: solid;
    color: #4d4d4dd2;
    border-color: rgba(85, 85, 85, 0) transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }


  