@media screen and (max-width:750px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao2{
        margin-top: 5px;
        width: 300px;
    }
    .botao{
        margin-top: 5px;
        width: 300px;
    }

    .popup .popuptext {
        margin-left: 165px;
        width: 130px;
        height: 148px;
        font-size: 13px;
    
    }

}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}

